*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    height: 400px;
    background-color: blue;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    line-height: 2;
    color: #fff;
}

